.auctioneer-dashboard {
  padding: 40px 20px;
  background-color: #f8f9fa;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}

.title {
  text-align: center;
  color: #2c3e50;
  font-size: 2.5em;
  margin-bottom: 10px;
  font-weight: 700;
}

.subtitle {
  text-align: center;
  color: #3498db;
  font-size: 1.8em;
  margin-bottom: 30px;
  font-weight: 600;
}

.dashboard-section {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.dashboard-section button {
  padding: 14px 25px;
  border: none;
  background-color: #3498db;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Hover efekat */
.dashboard-section button:hover {
  background-color: #2980b9;
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.dashboard-section {
  .selected-button {
    background-color: #3b739e;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  .selected-button:hover {
    background-color: #3b739e;
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  }

}
.property-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .property-list {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .dashboard-section {
    flex-direction: column;
  }

  .dashboard-section button {
    width: 100%;
    margin: 5px 0;
  }
}

.confirmation-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.confirmation-modal .modal-content {
  text-align: center;
  font-size: 1.2em;
  color: #2c3e50;
}

.confirmation-modal button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.confirmation-modal button:hover {
  background-color: #229954;
}

.no-properties {
  text-align: center;
  font-size: 16px;
  color: #888;
  margin-top: 20px;
}

